
@{
    ViewBag.Title = "education";
}

<h2>Education</h2>
<hr />
<ol type="A">
    <li><h5>SSC Qualification</h5></li>
    
    <ol>
        <li>School Name: Khulna Collegiate Girls School </li>
        <li>Passing Year: 2015</li>
    </ol>
    
    <li><h5>HSC Qualification</h5></li>
    <ol>

        <li>College Name:  Khulna Collegiate Girls School</li>
        <li>Passing Year: 2017</li>
    </ol>
</ol>



