
@{
    ViewBag.Title = "project";
}

<h2>Project</h2>
<hr />
<ul>
    <li><h5>OOP1 Project : Student Result  Management System</h5></li>
    <li><h5>OOP2 Project : Orphange Management System</h5></li>
</ul>
