@model NewsTask.Models.DataBase.News
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}

<h2>Create</h2>
<form action="/News/Create" method="post">

    <input type="text" name="Title " class="form-control" placeholder="Title" />
    
    <input type="text" name="Description " class="form-control" placeholder="Description" />

    <input type="text" name="Category " class="form-control" placeholder="Catagory" />
  
    <input type="text" name="Publish " class="form-control" placeholder="Date" />
  
    <input type="submit" value="ADD" />
</form>

