
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
    </tr>
    @for (int i = 0; i < ViewBag.Names.Length; i++)
    {
        <tr>
            <td>@(i+1)</td>
            <td>@ViewBag.Names[i]</td>
        </tr>

    }

</table>

